<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="highsunMobileOA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="FCKeditor:BasePath" value="~/FCKeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="~/Upload/FckFile/"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=192.168.5.44;Initial Catalog=HighSunBroker;User ID=sa;Password=sa000861@com;User Instance=False" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReservationServiceHttpEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://115.28.145.67:20001/PMSDataInterface/ReservationService/"
        binding="basicHttpBinding" bindingConfiguration="ReservationServiceHttpEndpoint"
        contract="ServiceReference1.IReservationService" name="ReservationServiceHttpEndpoint" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <highsunMobileOA.Properties.Settings>
      <setting name="highsunMobileOA_com_hiooy_dsp_WS_HighsunPortal1"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_HighsunPortal1.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_canyin_WS_CanYingAnalysis"
        serializeAs="String">
        <value>http://192.168.2.217:8200/WebServices/WS_CanYingAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_baihuo_WS_BaiHuoAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_BaiHuoAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_dsp_fangdichan_WS_ERPSellHouseAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_ERPSellHouseAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_ERPpromise_WS_ERPPromiseCostAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_ERPPromiseCostAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_SL_WS_SLTradingWaterAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_SLTradingWaterAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_SLtest_WS_SLTradingWaterAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8201/WebServices/WS_SLTradingWaterAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_baihuoTest_WS_BaiHuoAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8201/WebServices/WS_BaiHuoAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_tiyuhui_WS_TiyuhuiAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_TiyuhuiAnalysis.asmx</value>
      </setting>
      <setting name="highsunMobileOA_com_hiooy_industry_WS_IndustryAnalysis"
        serializeAs="String">
        <value>http://dsp.hiooy.com:8200/WebServices/WS_IndustryAnalysis.asmx</value>
      </setting>
    </highsunMobileOA.Properties.Settings>
  </applicationSettings>
</configuration>
