<!DOCTYPE html>
<html>
    <head>
        <meta charset="gb2313" />
        <link type="text/css" rel="stylesheet" href="../stylesheets/productInformation.css" />
        <link type="text/css" rel="stylesheet" href="../javascript/plugins/bootstrap-3.3.4/dist/css/bootstrap.min.css"/>
        <script type="text/javascript" src="../javascript/plugins/jquery.js"></script>
        <script type="text/javascript" charset="gb2313" src="../javascript/plugins/angular-1.4.0-rc.2/angular.min.js"></script>
        <script type="text/javascript" charset ="gb2313" src="../javascript/page/productInformation.js"></script>
    </head>
    <nav>
        <p>茂名高科生产用药情况</p>
        <div>
            <select id="year_select">
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
            </select>
            <p>年</p>
                <select id="month_select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
             </select>
            <p>月</p>
            <select id="dat-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
            </select>
            <p>日</p>
        </div> 
    </nav>
    <body>
        <div class="form" ng-app="formApp">
            <table ng-controller="producingForm">
                <thead>
                    <tr>
                        <th colspan="10">茂名高科2015年10月生产情况汇总表</th>
                    </tr>
                    <tr>
                        <th rowspan="2">产品型号</th>
                        <th colspan="3">本月累计产量（t）</th>
                        <th rowspan="2">完成率（%）</th>
                        <th colspan="3">直接成本（元/t）</th>
                        <th rowspan="2">成本差异金额（元）</th>
                        <th rowspan="2">成本控制率（%）</th>
                    </tr>
                    <tr>
                        <th>本月计划</th>
                        <th>上月实际</th>
                        <th>实际完成</th>
                        <th>计划</th>
                        <th>上月实际</th>
                        <th>实际</th>
                    </tr>
                    <tr>
                        <th>干粉合计</th>
                        <th>7007</th>
                        <th>6851</th>
                        <th>4796.05</th>
                        <th>68.4%</th>
                        <th>——</th>
                        <th>——</th>
                        <th>——</th>
                        <th>463，227</th>
                        <th>252，310</th>
                    </tr>
                    <tr>
                        <th>瓷土合计</th>
                        <th>6000</th>
                        <th>6766</th>
                        <th>6223.60</th>
                        <th>103.7%</th>
                        <th>——</th>
                        <th>——</th>
                        <th>——</th>
                        <th>252,310</th>
                        <th>——</th>
                    </tr>
                    <tr>
                        <th>无漂土合计</th>
                        <th>2000</th>
                        <th>972</th>
                        <th>0.00</th>
                        <th>0.0%</th>
                        <th>19.50</th>
                        <th>18.78</th>
                        <th>——</th>
                        <th>——</th>
                        <th>——</th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in GfoneProduct">
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.thisMonthPlan}}</td>
                        <td>{{x.lastMonthReal}}</td>
                        <td>{{x.realFinished}}</td>
                        <td>{{x.finishedRate}}</td>
                        <td>{{x.planCost}}</td>
                        <td>{{x.lastMonthRealCost}}</td>
                        <td>{{x.realCost}}</td>
                        <td>{{x.costDefference}}</td>
                        <td>{{x.costControlRate}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <td>干粉一合计</td>
                    <td>{{GfOneThisMonthPlan| number:0}}</td>
                    <td>{{GfOneLastMonthReal | number:1}}</td>
                    <td>{{GfOneRealFinished | number:2}}</td>
                    <td>{{GfOneFinishedRate | number:1}}</td>
                    <td>{{GfOnePlanCost | number:2}}</td>
                    <td>{{GfOneLastMonthRealCost | number:2}}</td>
                    <td>{{GfOneRealCost | number:2}}</td>
                    <td>{{GfOneCostDefference | number:2}}</td>
                    <td>{{GfOneCostControlRate | number:2}}</td>
                </tbody>
                <tbody ng-repeat="x in GfthreeProduct">
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.thisMonthPlan}}</td>
                        <td>{{x.lastMonthReal}}</td>
                        <td>{{x.realFinished}}</td>
                        <td>{{x.finishedRate}}</td>
                        <td>{{x.planCost}}</td>
                        <td>{{x.lastMonthRealCost}}</td>
                        <td>{{x.realCost}}</td>
                        <td>{{x.costDefference}}</td>
                        <td>{{x.costControlRate}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <td>干粉三合计</td>
                    <td>{{GfThreeThisMonthPlan| number:0}}</td>
                    <td>{{GfThreeLastMonthReal | number:1}}</td>
                    <td>{{GfThreeRealFinished | number:2}}</td>
                    <td>{{GfThreeFinishedRate | number:1}}</td>
                    <td>{{GfThreePlanCost | number:2}}</td>
                    <td>{{GfThreeLastMonthRealCost | number:2}}</td>
                    <td>{{GfThreeRealCost | number:2}}</td>
                    <td>{{GfThreeCostDefference | number:2}}</td>
                    <td>{{GfThreeCostControlRate | number:2}}</td>
                </tbody>
                <tbody ng-repeat="x in CtProduct">
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.thisMonthPlan}}</td>
                        <td>{{x.lastMonthReal}}</td>
                        <td>{{x.realFinished}}</td>
                        <td>{{x.finishedRate}}</td>
                        <td>{{x.planCost}}</td>
                        <td>{{x.lastMonthRealCost}}</td>
                        <td>{{x.realCost}}</td>
                        <td>{{x.costDefference}}</td>
                        <td>{{x.costControlRate}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <td>瓷土合计</td>
                    <td>{{CtThisMonthPlan| number:0}}</td>
                    <td>{{CtLastMonthReal | number:1}}</td>
                    <td>{{CtRealFinished | number:2}}</td>
                    <td>{{CtFinishedRate | number:1}}</td>
                    <td>{{CtPlanCost | number:2}}</td>
                    <td>{{CtLastMonthRealCost | number:2}}</td>
                    <td>{{CtRealCost | number:2}}</td>
                    <td>{{CtCostDefference | number:2}}</td>
                    <td>{{CtCostControlRate | number:2}}</td>
                </tbody>
                <tbody ng-repeat="x in WptProduct">
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.thisMonthPlan}}</td>
                        <td>{{x.lastMonthReal}}</td>
                        <td>{{x.realFinished}}</td>
                        <td>{{x.finishedRate}}</td>
                        <td>{{x.planCost}}</td>
                        <td>{{x.lastMonthRealCost}}</td>
                        <td>{{x.realCost}}</td>
                        <td>{{x.costDefference}}</td>
                        <td>{{x.costControlRate}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <td>瓷土合计</td>
                    <td>{{WptThisMonthPlan| number:0}}</td>
                    <td>{{WptLastMonthReal | number:1}}</td>
                    <td>{{WptRealFinished | number:2}}</td>
                    <td>{{WptFinishedRate | number:1}}</td>
                    <td>{{WptPlanCost | number:2}}</td>
                    <td>{{WptLastMonthRealCost | number:2}}</td>
                    <td>{{WptRealCost | number:2}}</td>
                    <td>{{WptCostDefference | number:2}}</td>
                    <td>{{WptCostControlRate | number:2}}</td>
                </tbody>
            </table>
        </div>
    </body>
</html>