<!DOCTYPE html>
<html >
	<head>
		<meta charset="gb2313"/>
        <link type="text/css" rel="stylesheet" href="../javascript/plugins/bootstrap-3.3.4/dist/css/bootstrap.min.css"/>
		<script type="text/javascript" src="../javascript/plugins/angular-1.4.0-rc.2/angular.min.js" ></script>
		<script type="text/javascript" src="../javascript/page/ng.js" charset="gb2313"></script>
	</head>
	<body ng-app="Mymodule">
		<div class="row">
			<div class="col-md-3">
				<superman yu>yu</superman>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<superman yu da>yuda</superman>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<superman yu da wei>yudawei</superman>
			</div>
		</div>
	</body>
</html>
