<!DOCTYPE html>
<html>
    <head>
        <meta charset="GB2313" />
        <link type="text/css" rel="stylesheet" href="../stylesheets/yaopin.css" />
        <link type="text/css" rel="stylesheet" href="../javascript/plugins/bootstrap-3.3.4/dist/css/bootstrap.css" />
        <script type="text/javascript" src="../javascript/plugins/angular-1.4.0-rc.2/angular.js" charset="gbk"></script>
        <script type="text/javascript" src="../javascript/plugins/jquery.js"></script>
        <script type="text/javascript" src="../javascript/page/yaopin.js" ></script>
    </head>
    <body>
        <nav>
            <div>
                <i></i>
                <p>药品管理</p>
            </div>
        </nav>
        <div class="Form">
            <div class="formNav">药品信息管理</div>
            <form>
                <div class="formBody form-group">
                    <div class="yaopinName ">
                        <p>药品名称:</p>
                        <input type="text" name="yaopinName" placeholder="必填" class="form-control"/>
                    </div>
                    <div class="yaopinPrice form-group">
                        <p>药品价格:</p>
                        <input type="text" name="yaopinPrice" placeholder="必填" class="form-control" />
                    </div>
                    <div class="yaopinDate form-group">
                        <p>药品日期:</p>
                        <input type="text" name="yaopinDate" placeholder="必填" class="form-control" />
                    </div>
                </div>
                <div class="formFoot">
                    <input type="submit" value="确定" name="OK" class="btn btn-primary" role="button" />
                    <input name="NO" value="返回" type="button" class="btn btn-primary" role="button"  />
                </div>
            </form>
        </div>
    </body>
</html>